*{
    font-family: 'Arial', san-serif;
    margin: 0 auto;
}
body{
    height:100%;
    font-family: Arial san-serif;
    color: black;
    margin-top: 60px;
}
.container{
    margin: 0 auto;
    width: 1175px;
}
header{
    display: block;
    height: 60px;
    text-align:center;
}
.par{
    color:#505050;
    padding:20px 0;
}
.qwerty{
    padding:20px 0;
}
.nav-link{
    text-decoration: none;
    text-transform: uppercase;
}
.alert{color:red}
.form-group{margin: 5px 0;}
.form-group input{width:280px;height: 25px;}

.parlink, .link-task{
    padding: 10 0 0 0;
    color:#505050;
    font-size: 15px;
}
.pro{
    margin:20px 0;
}
.link-task{
    margin: 20px 0;
}
.textarea{
    width: 50%;
    height: 40px;
}
.user_input{
    width:150px
    height: 30px;
}

.card{
    float: left;
    margin: 10px;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 21px 14px 0;
    margin-bottom: -1px;
    margin-top: 25px;
    box-sizing: border-box;
    height: 250px;
    max-width: 250px;
    width: 250px;
}
.task{
    border: 0;
}
.main-header{
    width: 100%;
    background-color: #775ba2;
    position: relative;

}

.navbar {
    display: block;
    background: #54865d;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 30;
    box-sizing: border-box;
    padding: 7px 30px;
}

.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

.menu a:hover {
    color: #ffc122;
    text-decoration: underline;
}.navbar {
    display: block;
    background: #6a7dff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}

.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

.menu a:hover {
    color: #ffc122;
    text-decoration: underline;
}
.nav{
    color: white;
}
.link{
    text-decoration: none;
    color: white;
}
.navbar{
    padding: 10px;
    display: flex;
    text-align: right;
}

.form_row{
    padding:15px;
    width:80%;
}
.submit-button{
    background-color: #6b7dff;
    padding: 4px;
    margin-left: -28px;
    border: 1px;
    color: #fffee8;
    border-radius: 3px;
}

